<div class="col-10">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://previews.123rf.com/images/goinyk/goinyk1501/goinyk150100375/35300540-colourful-cocktail-on-the-black-background-party-club-entertainment-mixed-light.jpg);">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
  <div class="list_ingredient">
    <h2>List of Ingredients</h2>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <strong><%= dose.ingredient.name %></strong> <%= dose.description %>   <%= link_to "Delete", dose_path(dose), method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= link_to "Back to List", cocktails_path  %>
  <%= link_to "add a ingredient", new_cocktail_dose_path(@cocktail.id)  %>
</div>
