<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1425&q=80);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="list_ingredient">
  <h2>List of Ingredients</h2>
  <ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <strong><%= dose.ingredient.name %></strong> <%= dose.description %>   <%= link_to "Delete", dose_path(dose), method: :delete %>
    </li>
  <% end %>
  </ul>
</div>
<%= link_to "Back to List", cocktails_path  %>
<%= link_to "add a ingredient", new_cocktail_dose_path(@cocktail.id)  %>
