<div class="col-10">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, :width => 1000, :height => 400 %>');">
    <div class="container d-flex justify-content-center">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
  <div class="list_ingredient">
    <h2>List of Ingredients</h2>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <strong><%= dose.ingredient.name %></strong> <%= dose.description %>   <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= link_to "Back to List", root_path %>
  <%= link_to "add a ingredient", new_cocktail_dose_path(@cocktail.id)  %>
</div>
